<div class="comments">
  {{#each this}}
    <section class="comment comment-box my-2 px-3 py-1">
      <div class="meta text-info">
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
      <div class="text">
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div>