<article class="post my-3">
  <a href="/posts/{{id}}">
    <div class="row">
      <div class="title col">
        <h3>{{title}}</h3>
      </div>
      <div class="meta col text-end">
        by
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
    </div>
  </a>
</article>