<form class="login-form form-group row justify-content-center my-5">
  <div class="col-4">
    <h2>Login</h2>
    <input
      type="text"
      id="email-login"
      class="form-control text-center mb-3"
      placeholder="email"
    />
    <input
      type="password"
      id="password-login"
      class="form-control text-center mb-3"
      placeholder="password"
    />
    <button
      type="submit"
      class="submit-btn btn btn-info text-white"
    >login</button>
  </div>
</form>
<form class="signup-form form-group row justify-content-center my5">
  <div class="col-4">
    <h2>Sign Up</h2>
    <input
      type="text"
      id="username-signup"
      class="form-control text-center mb-3"
      placeholder="username"
    />
    <input
      type="text"
      id="email-signup"
      class="form-control text-center mb-3"
      placeholder="email"
    />
    <input
      type="password"
      id="password-signup"
      class="form-control text-center mb-3"
      placeholder="password"
    />
    <button
      type="submit"
      class="submit-btn btn btn-info text-white"
    >signup</button>
  </div>
</form>
<script src="/javascript/login.js"></script>